<!--

<zumo-menu id="channel-menu">
	<button slot="button">channel menu</button>
	<section slot="menu">
		<button name="open-kick-dialog">Kick</button>
		<button name="leave">Leave</button>
	</section>
</zumo-menu>
$.get("zumo-menu#channel-menu").on("leave", function(){
	// Do leave ops
})
-->

<template>
	<style>
	@import url("/static/css/color.css");
	@import url("/static/css/reset.css");

	:host {
		position: relative;
		display: flex;
	}
	:host ul {
		display: none;

		position: absolute;
		left: 0rem;
		top: 100%;

		background: var(--default-background);
		color: var(--default-foreground);
		border: 2px solid var(--layout-line-color);

		list-style: none;
		padding: 0.5rem;
		margin: 0rem;
	}
	:host([dir=up]) ul {
		top: unset;
		bottom: 100%;
	}
	:host([arrange=end]) ul {
		left: unset;
		right: 0rem;
	}
	ul.show {
		display: block;
	}

	li {
		white-space: nowrap;
	}

	</style>
	<slot name="button"></slot>
	<ul>
		<!-- Slot for item -->
	</ul>
</template>
<script>
(function(template){
	class ZumoMenu extends HTMLElement {
		constructor() {
			// this   mean outside of shadow dom
			// shadow mean inside  of shadow dom
			super();

			var that = this;
			var clone = document.importNode(template.content, true)
			var shadow = this["--shadow"] = this.attachShadow({mode: 'open'})
			shadow.appendChild(clone);

			$.get(shadow, "slot[name=button]").on("click", this.toggle.bind(this));


			var ul = $.get(shadow, "ul");
			$.all(this, "[slot=menu] *").forEach(function(el) {
				var li = $.create("li");
				li.appendChild(el);

				// add event
				el.on("click", handler.bind(that, el.attr("name")))

				ul.appendChild(li);
			});
		}
		toggle() {
			this["--shadow"].querySelector("ul").classList.toggle("show")
		}
		hide() {
			this["--shadow"].querySelector("ul").classList.remove("show")
		}
	}
	customElements.define("zumo-menu", ZumoMenu);

	function handler(name,  evt){
		var event = new CustomEvent("menu",  {
			detail: { name: name }
		});
		this.dispatchEvent(event);
		evt.preventDefault();
	}
})(document.currentScript.ownerDocument.querySelector('template'))
</script>
