<link rel="import" href="/static/html/components/message.html" />
<template>
	<style>
	@import url("/static/css/color.css");
	@import url("/static/css/reset.css");

	:host {
		overflow: scroll;
		contain: size;
	}
	:host ul {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}

	</style>
	<ul>
		<!--
		<li><span slot="time"><span><span slot="text"></span></li>
		-->
	</ul>
</template>
<script>
(function(template){
	class ZumoMessages extends HTMLElement {
		constructor() {
			// this   mean outside of shadow dom
			// shadow mean inside  of shadow dom
			super();

			var clone = document.importNode(template.content, true)
			var shadow = this["--shadow"] = this.attachShadow({mode: 'open'})
			shadow.appendChild(clone);
		}
		appendText(msg) {
			var html = `
			<zumo-message>
				<span slot="auth">${msg.Sender}</span>
				<span slot="text">${msg.Text}</span>
				<span slot="time">${msg.Time}<span>
			</zumo-message>`

			var $li = $.create("li", {$html: html})
			$.get(this["--shadow"], "ul").appendChild($li);
		}
		async load(channelId) {
			var res = await $.request("GET", `/api/v1/channels/${channelId}/messages`)
			var that = this;
			res.json.sort((a, b) => a.Time.localeCompare(b.Time)).forEach(function(e) {
				that.appendText(e)
			});
			var html = this["--shadow"];

			this.scrollToEnd()
		}
		scrollToEnd(){
			this.scrollTop = this.scrollHeight - this.clientHeight;
		}
	}
	customElements.define("zumo-messages", ZumoMessages);
})(document.currentScript.ownerDocument.querySelector('template'))
</script>
