<template>
	<style>
	:host {
		display: none;
	}
	</style>
	<!-- blank -->
</template>
<script>
(function(template){
	class ZumoSocket extends HTMLElement {
		constructor() {
			// this   mean outside of shadow dom
			// shadow mean inside  of shadow dom
			super();

			var clone = document.importNode(template.content, true)
			var shadow = this["--shadow"] = this.attachShadow({mode: 'open'})
			shadow.appendChild(clone);

			// connect -> open -> message -> close -> disconnect
			// connect -> open -> message -> close -> (reconnect) -> open -> message -> close -> disconnect
		}
		connect() {
			var addr = this.attr("endpoint");
			this._tryConnect();
		}
		send() {
			try{
				this._socket.send(data, options);
			} catch (e){
				this._emit("error", e)
			}
		}
		_emit(event, data) {
			var e = new CustomEvent(event, data);
			this.dispatchEvent(e);
		}
		_tryConnect() {
			var addr = this.attr("endpoint");
			this._socket = new WebSocket(protocal()+ "//" + location.host + addr);

			this._socket.on("open", this._emit.bind(this, "open"));
			this._socket.on("close", this._reciveClose.bind(this));
			this._socket.on("message", this._onMessage.bind(this));
			this._socket.on("error", this._emit.bind(this, "error"));
		}
		async _reciveClose(){
			await $.timeout(500); // wait 500ms
			this._tryConnect();
		}
		_onMessage(event) {
			var e = new CustomEvent("message", {
				detail: JSON.parse(event.data),
			});
			this.dispatchEvent(e);
		}
	}
	customElements.define("zumo-socket", ZumoSocket);

	function protocal() {
		return document.location.protocol.includes("https") ? "wss:" : "ws:"
	}
})(document.currentScript.ownerDocument.querySelector('template'))
</script>
